# https://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Netlify CMS doesn't put newlines at the end of files so we shouldn't either (see https://github.com/netlify/netlify-cms/issues/1382)
[{_data/**/*.yaml,pages/**/*.md}]
insert_final_newline = false
