<footer id="footer">
  <ul id="footer-flex">
    <li>
      <a href="{{ social.discordLink }}">
        <img src="/static/img/discord.svg" width="53" height="53" alt="">
        <div>
          Join our Discord<br>
          <span class="url">{{ social.discordLink }}</span>
        </div>
      </a>
    </li>
    <li>
      <a href="{{ social.instagramLink }}">
        <img src="/static/img/instagram.svg" width="53" height="53" alt="">
        <div>
          Follow us on Instagram!<br>
          <span class="url">@{{ social.instagramHandle }}</span>
        </div>
      </a>
    </li>
  </ul>
</footer>
