<header id="header">
  <a href="{{ '/' | url }}" id="home-link">
    <img src="/static/img/logo-circle-2-new.png" width="74" height="74" alt="">
    <div id="site-title-lockup">
      <div id="site-title">
        {{ metadata.title }}
      </div>
      <div id="site-title-tagline">
        {{ metadata.tagline }}
      </div>
    </div>
  </a>
  {% include "components/nav.njk" %}
</header>
