<section class="section-flex">
  <img
    class="circle"
    alt=""
    src="/static/img/card-square-114w.png"
    width="114" height="114"
    sizes="114px"
    srcset="/static/img/card-square-760w.png 760w, /static/img/card-square-380w.png 380w, /static/img/card-square-228w.png 228w, /static/img/card-square-114w.png 114w"
  />
  <div>
